<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Horoscope</title>
</head>
<body>
    <header> Horoscope:</header>
<ul>
    <li>
        <a href="horoscope/Aries">Aries</a>
    </li>
    <li>
        <a href="horoscope/Taurus">Taurus</a>
    </li>
    <li>
        <a href="horoscope/Gemini">Gemini</a>
    </li>
    <li>
        <a href="horoscope/Cancer">Cancer</a>
    </li>
    <li>
        <a href="horoscope/Leo">Leo</a>
    </li>
    <li>
        <a href="horoscope/Pisces">Pisces</a>
    </li>
</ul>
</body>
</html>